<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<h3 class="text-center">Add Category Page</h3>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

<div class="container w-50">
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" class="form-control" name="n" placeholder="Enter Category Name" >
  </div>

  <div class="mb-3">
  <label for="formFile" class="form-label">Image</label>
  <input class="form-control" type="file" name="i" id="formFile">
</div>

   <div class="mb-3">
    <label  class="form-label">Description</label>
        <textarea name="d" class="form-control" placeholder="Write Category Description"></textarea>
  </div>

  <button type="submit" class="btn btn-primary ">Submit</button>
</div>
</form>
{% endblock %}