<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

 <h2 class="text-center"><b>Order details</b></h2>
{% for i in order %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{i.product.image.url}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{i.product.name}}</h5>
        <p class="card-text"><b>Total amount:</b>{{i.product.price}}</p>
        <p class="card-text">{{i.product.description}}</p>
        <p class="card-text"><b>Quantity:</b>{{i.no_of_items}}</p>
        <p class="card-text"><b>Ordered Date:</b>{{i.ordered_date}}</p>
        <p class="card-text"><b>Order id:</b>{{i.order_id}}</p>
        <p class="card-text"><b>Delivery status:</b>{{i.delivery_status}}</p>


      </div>
    </div>
  </div>
</div>




{% endfor %}
{% endblock %}